@import "tailwindcss";

:root {
  --color-primary: #0C4A6E; /* azul profesional */
  --color-accent: #F59E0B; /* dorado */
  --color-dark: #0B0B0B;
  --color-light: #FFFFFF;
}

body {
  background: var(--color-light);
  font-family: Arial, Helvetica, sans-serif;
}